@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contact {
  &__info {
    animation-name: fadeIn;
    animation-duration: 0.1s; /* How long the animation takes */
    animation-delay: 1.25s; /* The delay before the animation starts */
    animation-fill-mode: both;
    position: absolute;
    top: 14%;
    left: 19.5%;
    width: 62%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
  }
  &__block {
    width: 48.5%;
    height: 48%;
    border-radius: 5%;
    border: 5px solid #141e5e;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
  }
  &__desc {
    background-color: rgba(2, 15, 42, 1);
    color: $silver;
    padding: 1rem;
    font-size: 1rem;
    height: calc(100% - 2rem);
    width: calc(48.5% - 2rem);
    @include HD {
      font-size: 1.5rem;
      width: calc(48.5% - 2rem);
    }
  }
  &__form {
    background-color: rgba(2, 15, 42, 1);
  }
}

.back {
  position: absolute;
  height: 12%;
  left: -28%;
}
