@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.portfolio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  padding-top: 0;
  &-title {
    color: $silver;
    text-align: center;
  }
  &-item {
    aspect-ratio: 16 / 9;
  }
}
