@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.node {
  width: 35vw;
  background-color: rgb(26, 26, 26);
  position: relative;
  opacity: 0.9;
  border-radius: 30px;
  margin-bottom: 3rem;
  &__banner {
    width: 100%;
  }
  &__title {
    margin: 0;
    color: $silver;
    position: absolute;
    top: 1.5rem;
    left: 2.5rem;
    font-size: 3rem;
    font-weight: 500;
    &-offset {
      margin-left: 6rem;
    }
  }
  &__content {
    padding: 3rem;
  }
  &__image {
    width: 30vw;
  }
  &__text {
    color: $silver;
    font-size: 1.75rem;
    margin: 0;
  }
}
