@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.portfolio{
  position: absolute;
  top: 14%;
  left: 19.5%;
  width: 62%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  &__item{
    width: 48.5%;
    height: 48%;
    background-color: green;
  }
}

// .homepage-bg {
//   position: fixed !important;
//   inset: 0 !important;      /* top:0; right:0; bottom:0; left:0; */
//   width: 100vw !important;
//   height: 100vh !important;
//   object-fit: cover !important;
//   pointer-events: none !important;
//   z-index: -9999 !important; /* extremely low so it sits behind everything */
// }